<br>

<div class="container">

  <div class="row">
    <div class="col animated flipInX ">

        <div class="card border-success mb-3 " >
            <h4 class="card-header text-center"><span class="badge badge-pill badge-success"><i class="fas fa-certificate"></i> NIVEL BÁSICO OPERATIVO</span>
            </h4>
            <div class="card-body">
              <h4 class="card-title">
                
                Objetivo</h4>
              <p class="card-text text-justify">Prevenir y minimizar los accidentes derivados por el riesgo de caída en la
                  realización de las diferentes tareas a las que se ven expuestos los trabajadores
                  en su labor habitual. De igual manera, capacitar al personal sobre las
                  normas y las técnicas de trabajo en materia de seguridad que ha tener en
                  cuenta cuando se realizan trabajos en altura con riesgo de caída a 1.50 m o
                  más o un nivel inferior, uso, inspección, cuidado y mantenimiento de
                  equipos necesarios para la ejecución segura de todas las actividades que se
                  desarrollen en alturas.  </div>

            <img style="height: 200px; width: 100%; display: block;" src="../../assets/img/escalando.jpg" alt="escalando">
            
          </div>

    </div>
    <div class="col animated flipInY">
        <div class="card border-warning mb-3" >
            <h4 class="card-header text-center"> <span class="badge badge-pill badge-warning">   
                <i class="fas fa-id-card-alt"></i> NIVEL ADMINISTRATIVO </span></h4>
            <div class="card-body">
              <h4 class="card-title">Objetivo</h4>
              <p class="card-text text-justify">Brindar formación a las personas que realizan procesos
                  administrativos en tareas relacionadas con los trabajos en
                  alturas, (empleadores, jefes, supervisores e interventores),
                  orientados a la actividad económica atendiendo los
                  lineamientos legales vigentes.  </div>
            <img style="height: 200px; width: 100%; display: block;" src="../../assets/img/reunidos.jpg" alt="">
                      </div>
    </div>


  </div>
  <div class="row">

    <div class="col animated flipInX">
        <div class="card border-info mb-3" >
            <h4 class="card-header text-center"> <span class="badge badge-pill badge-info">   
                <i class="fas fa-id-card-alt"></i> NIVEL AVANZADO</span></h4>
            <div class="card-body">
              <h4 class="card-title">Objetivo</h4>
              <p class="card-text text-justify">Prevenir y minimizar los accidentes derivados por el riesgo de caída en la
                  realización de las diferentes tareas a las que se ven expuestos los trabajadores
                  en su labor habitual. De igual manera, capacitar al personal sobre las
                  normas y las técnicas de trabajo en materia de seguridad que ha tener en
                  cuenta cuando se realizan trabajos en altura con riesgo de caída a 1.50 m o
                  más o un nivel inferior, uso, inspección, cuidado y mantenimiento de equipos
                  necesarios para la ejecución segura de todas las actividades que se
                  desarrollen en alturas.  </div>
            <img style="height: 200px; width: 100%; display: block;" src="../../assets/img/implementos.jpg" alt="">
        </div>



    </div>
    <div class="col animated flipInY">
      <div class="card border-dark  mb-3" >
          <h4 class="card-header text-center"> <span class="badge badge-dark">   
              <i class="far fa-id-card"></i>  NIVEL REENTRENAMIENTO </span></h4>
                  <div class="card-body">
                    <h4 class="card-title">Objetivo</h4>
                    <p class="card-text text-justify">Prevenir y minimizar los accidentes derivados por el riesgo de caída en la
                        realización de las diferentes tareas a las que se ven expuestos los trabajadores
                        en su labor habitual. De igual manera, capacitar al personal sobre las
                        normas y las técnicas de trabajo en materia de seguridad que ha tener en
                        cuenta cuando se realizan trabajos en altura con riesgo de caída a 1.50 m o
                        más o un nivel inferior, uso, inspección, cuidado y mantenimiento de equipos
                        necesarios para la ejecución segura de todas las actividades que se
                        desarrollen en alturas.  </div>
                  <img style="height: 200px; width: 100%; display: block;" src="../../assets/img/conferencia.jpg" alt="reentrenamiento">
              </div>
     </div>

  </div>
  <div class="row text-center">

    <div class="col col-6 animated flipInX">
        <div class="card border-danger mb-3" >
            <h4 class="card-header text-center"> <span class="badge badge-danger">   
                <i class="far fa-address-card"></i> NIVEL COORDINADOR</span></h4>
            <div class="card-body">
              <h4 class="card-title">Objetivo</h4>
              <p class="card-text text-justify">Capacitar al asistente para la coordinación de tareas en trabajos en alturas y el desarrollo en su empresa de un programa de protección contra caídas desde los aspectos legales y técnicos cubriendo todos los elementos a considerar según su actividad económica.  </div>
            <img style="height: 200px; width: 100%; display: block;" src="../../assets/img/compañeros.jpg" alt="reentrenamiento">
        </div>


    </div>

  </div>



</div>