<br>
<div class="container">
  <div class="row">
    <div class="col col-6">
      <div class=" animated fadeIn text-center">
        <img src="../../assets/img/logo.png" style="width: 450px;" class="  img-fluid rounded" alt="logo ensisst">
      </div>
      
      </div>
      <div class="col col-6 ">
          <div class=" animated fadeIn text-center">
              <img src="../../assets/img/valores.png" style="width: 450px;" class="  img-fluid rounded" alt="logo ensisst">
      
            </div>
      </div>
   

  </div>
  <div class="row ">
    <div class="col col-12 ">
      <div class=" animated zoomInDown card text-white bg-primary mb-3 ">
        <h4 class="card-header text-center">¿Quiénes somos?</h4>
        <div class="card-body">
          <p class="card-text text-justify">
            Somos una empresa con más de 5 años de experiencia en la prestación de servicios integrales en seguridad y salud en el trabajo.
            Enfocados en la formación teórica-práctica, por eso y tras una larga experiencia en formación para los sectores
            de Construcción, comenzamos esta etapa en nuestras nuevas instalaciones, adecuadas al desempeño de esta actividad
            formativa de seguridad. Detectamos la necesidad de cubrir las necesidades del mercado en materia de formación
            práctica, por lo que ofrecemos servicios y programas de calidad a particulares, empresas e instituciones. Igualmente
            entendemos el valor estratégico de la formación y cualificación de los recursos humanos, por lo que recurrimos
            a técnicas, métodos y estrategias que mejoren la competitividad y productividad.
          </p>
        </div>
      </div>
    </div>
    <div class="col col-12  col-lg-6  col-md-6 col-xs-12 col-sm-12">

      <div class=" animated slideInLeft card text-white bg-success mb-3">
        <h4 class="card-header text-center">Misión</h4>
        <div class="card-body">
          <p class="card-text text-justify ">
            La Escuela Nacional de Seguridad Industrial tiene como misión aportar al desarrollo social, la productividad y competitividad
            del sector, dedicando con profesionales dispuestos, una oferta integral de servicios en Seguridad y Salud en
            el Trabajo que respalde una cultura de prevención de riesgos y mejora continua de la calidad de vida de todos
            nuestros clientes.
          </p>
        </div>
      </div>



    </div>
    <div class="col col-12  col-lg-6  col-md-6 col-xs-12 col-sm-12 ">

      <div class=" animated slideInRight card text-white bg-dark mb-3">
        <h4 class="card-header text-center">Visión</h4>
        <div class="card-body">
          <p class="card-text text-justify">
            En el 2021 La Escuela Nacional de Seguridad Industrial será un referente regional en la prestación de servicios integrales
            de Seguridad y Salud en el Trabajo y ser reconocidos y valorados como generadores de la cultura de prevención
            de riesgos laborales en las empresas establecidas en el sector.
          </p>

        </div>
      </div>
    </div>
  </div>


  <div class="row">




  </div>

</div>