<br>
<br>

<div class="container-fluid text-center">

   

  <div class="row">
    <div class="col col-12 col-lg-6  col-md-12 col-xs-12 col-sm-12 animated bounceInLeft">
        <div class="jumbotron">
            <h3 class="display-4"><i class="fas fa-map-marker-alt"></i> Ubícanos</h3>
            <hr class="my-2"> 
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.308851988254!2d-75.63440567087926!3d6.089029546239258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e468688c42253f5%3A0x3cda7d696d6118c4!2sCl.+132+Sur%2C+Caldas%2C+Antioquia!5e0!3m2!1sen!2sco!4v1528779011131" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            
        </div>
    
    </div> 
    <div class="col col-12 col-lg-6  col-md-12 col-xs-12 col-sm-12 animated bounceInRight">
        <div class="jumbotron">
            <h2>Tienes dudas<i class="fas fa-question"></i></h2>
            <p class="lead text-center">Escríbenos o comunícate con nosotros para tener el gusto de atenderte. </p>
            <hr class="my-1">
            <div class="text-left ">
            <h3 > <i class="fas fa-map-marker-alt"></i> Dirección</h3>
             <p>Calle 132 A sur #55 a 27 Caldas(ANT) Barrio Nuevo</p>
            </div>
             <hr class="my-1">
             <div class="text-left ">
                <h3 class="text-left "> <i class="fab fa-whatsapp"></i> Teléfonos</h3>
                <p>313-613-08-94</p>
                <p>313-204-55-84</p>
                <p>(034) 559-62-11</p>
            </div>
            <hr class="my-1">
            <div class="text-left">
                <h3><i class="far fa-clock"></i> Horario de atención </h3>
                <p>Lunes – Sábado Inicio-Fin</p>
            </div>     
         
          </div>
    </div>

  </div>

</div>


