<ngx-spinner bdColor="rgba(104,192,57,0.8)" size="large" color="#000000" type="ball-clip-rotate-multiple">

</ngx-spinner>
<br>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-12 col-lg-7 col-md-7  col-xs-7 col-sm-7 text-center">

      <form [formGroup]="certificateForm" (ngSubmit)="search()" class="form-inline" novalidate>
        <h4>
          <span class="align-baseline" style=" color:rgb(0, 0, 0)">
            <i style=" color:rgb(0, 0, 0)" class="far fa-address-card fa-lg"></i> Ingrese Cedula :</span>
          <br>

        </h4>

        <input formControlName="cedula" class="form-control form-control-lg" type="text" placeholder="Ingrese Cedula">

        <button class="btn btn-info btn-lg" type="submit" [disabled]="!certificateForm.valid">Buscar</button>
      </form>
      <br>
    </div>
  </div>
  <br>


</div>

<br>

<div *ngIf="flag">

  <div *ngIf="certificates?.length > 0" class="table-responsive">

    <table class=" animated lightSpeedIn  table  table-bordered table-hover">
      <thead class="bg-success text-center">
        <tr class="bg-primary" style=" color:rgb(255, 255, 255)">
          <th scope="col">
            <h5>
              <span class="badge badge-info">
                <i class="fas fa-barcode"></i> Consecutivo</span>
            </h5>
          </th>
          <th scope="col">
            <h5>
              <span class="badge badge-info">
                <i class="fas fa-user"></i> Nombres</span>
            </h5>
          </th>
          <th scope="col">
            <h5>
              <span class="badge badge-info">
                <i class="fas fa-id-card"></i> Cedula</span>
            </h5>
          </th>
          <th scope="col">
            <h5>
              <span class="badge badge-info">
                <i class="fas fa-level-up-alt"></i> Nivel Curso</span>
            </h5>
          </th>
          <th scope="col">
            <h5>
              <span class="badge badge-info">
                <i class="fas fa-user-graduate"></i> Fecha de expedición DD/MM/AAAA </span>
            </h5>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let certificate of certificates" class="table-info">
          <td>{{certificate.Consecutivo}}</td>
          <td>{{certificate.Nombres}}</td>
          <td>{{certificate.Cedula}}</td>
          <td>{{certificate.NivelCurso}}</td>
          <td>{{certificate.Fecha}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div *ngIf="messageBool">
  <h1 style="color:red;">No se registran certificados a la cedula ingresada</h1>
</div>

<ng-template #noUser>
</ng-template>