<!-- 

<form [formGroup]="certificateForm" (ngSubmit)="submit()" class="form-inline" novalidate>
  <span class="align-baseline" style=" color:white">
      <i style=" color:white" class="far fa-address-card fa-lg"></i> Consultar certificado : </span>

  <input formControlName="cedula" class="form-control mr-sm-2 " type="text" placeholder="Ingrese Cedula">
  <button class="btn btn-secondary my-2 my-sm-0" type="submit" [disabled]="!certificateForm.valid" >Buscar</button>
</form>



 -->

<h1>sslkdhsldhs</h1>
















